*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 ul li {
    display: inline; 
    text-decoration-color: 

 }

 ul li a {
    color: black ;
    padding: 0px 175px; 
 }

 .bars {
    background-color: #ffc83d;
    padding: 10px;
    margin: 0;
 }

 .header {
    background-color: black;
 }

 h1 {
    text-align: center;
    
 }

 footer {
   background-color: #ffc83d;
    padding: 40px 35px;
    width: 100%;
 }

footer h2 {
    display: inline;
    margin: 0;
    font-size: 30px;
 }

.social {
   float: right;
   line-height: 1.5;
   text-align: right;
   font-size: 25px;

}

